<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block css %}
        {% endblock css %}
    </head>
    <bodvy>
        {% block main %}
        {% endblock main %}

        {% block footerJavascripts %}
        {% endblock main %}
    </body>
</html>
