{# edit button #}
{% if entity %}
    <a href="{{ path('admin_metatag_edit', {'id': entity.id }) }}">
        edit
    </a>
{% else %}
    <a href="{{ path('admin_metatag_new', {'url': item.url }) }}">
        edit
    </a>
{% endif %}

{# delete button #}
{% if entity %}
    {% render controller('CopiaincollaMetaTagsBundle:MetaTagsAdmin:_deleteForm', {id: entity.id}) %}
{% endif %}

{# show button #}
{% if entity %}
    <a href="{{ path('admin_metatag_show', {'id': entity.id }) }}">
        show
    </a>
{% endif %}