<table>
    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_head.html.twig" with {"entities": entities} %}

    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_body.html.twig" with {"entities": entities} %}
</table>