<table>
    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_head.html.twig" with {"urls": urls} %}

    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_body.html.twig" with {"urls": urls} %}

</table>