<table>
    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_head.html.twig" with {"items": items} %}

    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table_body.html.twig" with {"items": items} %}

</table>