{% extends 'CopiaincollaMetaTagsBundle::layout.html.twig' %}

{% block main %}

    <h1>Meta Tags</h1>

    <p>
        This list contains all the paths you want to manage.
        <br>
        For each path you can manually edit the associated meta tag infos. You can also set a list of
        <a href="{{ path('admin_metatag_defaults') }}">regex rules</a> to be applied to calculate the right meta tag
        infos to display for a given path.
    </p>

    <a href="{{ path('admin_metatag_defaults') }}">
        Manage meta tags by regex
    </a>
    &nbsp;
    <a href="{{ path('admin_metatag_new') }}">
        Add meta tags for a custom path (not listed below)
    </a>

    <hr />

    <table>
        <thead>
            <tr>
                <th>
                    Url
                </th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}

                {% set entity = item.entity %}

                <tr>
                    <td>
                        {{ item.url }}
                    </td>
                    <td>
                        {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_actions.html.twig" with {"entity": item.entity} %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

{% endblock %}