{% extends 'CopiaincollaMetaTagsBundle::layout.html.twig' %}

{% block main %}

    <h1>Meta Tag</h1>

    {% include "CopiaincollaMetaTagsBundle:MetaTagsAdmin:index/_table.html.twig" with {"entities": entities} %}

    <hr>

    <a href="{{ path('admin_metatag_new') }}">
        New custom Meta Tag
    </a>
    <br>
    <a href="{{ path('admin_metatag_defaults') }}">
        Manage default Meta Tags
    </a>


{% endblock %}
