<title>{% spaceless %}
    {% block meta_title %}
        {{ metatags.title|raw }}
    {% endblock %}
{% endspaceless %}</title>

<meta name="description" content="{% spaceless %}
    {% block meta_description %}
        {{ metatags.description|raw }}
    {% endblock %}
{% endspaceless %}" />

<meta name="keywords" content="{% spaceless %}
    {% block meta_keywords %}
        {{ metatags.keywords|raw }}
    {% endblock %}
{% endspaceless %}" />

<meta name="author" content="{% spaceless %}
    {% block meta_author %}
        {{ metatags.author|raw }}
    {% endblock %}
{% endspaceless %}" />